@import "variables";
@import "mixins";

@include scrollbars(6px, 4px, #ddd);

* {
  -webkit-user-select: none;
}

.show-tracker {
  flex: 1;
  display: flex;
  flex-direction: column;

  .tabs {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    border-bottom: 1px solid $borderColor;
    li {
      height: 4rem;
      border-right: 1px solid $borderColor;
      padding: 0 2rem;
      align-items: center;
      display: flex;

      a {
        text-decoration: none;
      }

      &.active {
        background: lighten($borderColor, 3%);
      }
    }
  }

  .alert {
    margin-bottom: 0;
  }

  .btn:focus {
    outline: none;
  }

  .autocomplete {
    position: relative;
    .dropdown-menu {
      display: block;
      overflow: auto;
      right: 0;
      max-height: 250px;
    }
  }
  .panel {
    .panel-body {
      padding: $gapSize;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  .panel-heading {
    .input-group, .label {
      margin-top: $gapSize;
    }
  }

  .add-show {
    .input-group {
      margin-bottom: $gapSize;
    }
    .input-group-addon {
      min-width: 100px;
      text-align: left;
    }
  }
  .tags {
    margin-right: 2px;
  }

  .trackers-list {
    label {
      font-weight: normal;
    }
  }

  .scrollable {
    flex: 1;
    overflow: auto;
  }

  .list-group {
    margin-bottom: 0;
  }

  .list-group-item {
    color: #000;
    padding: $gapSize;

    &.active, &.active:hover, &.active:focus {
      background: transparent; // #dedede;
      border-color: #dedede;
      color: #000;
    }
  }

  .slide-list {
    .list-group-item {
      overflow: hidden;
      border: 0 none;
      margin: 0;
      border-bottom: 1px solid $borderColor;
    }

    .row {
      @include transition(all, 0.2s, linear);
      position: relative;
      z-index: 1;
      left: 0;

      &.animate {
        left: -$actionsWidth;
      }
    }

    .actions {
      @include transition(all, 0.2s, linear);
      background: #f0f0f0;
      border-left: 1px solid #ddd;
      right: -$actionsWidth;
      position: absolute;
      padding: inherit;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;

      &.animate {
        right: 0;
      }
    }
  }

  .tabbed-list {
    .list-group-item {
      &:first-child {
        border-top: 0 none;
        border-radius: 0;
      }
    }
  }
}

// application menu
.app-menu {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;

  li {
    flex: 1;
    background: $menuColor;
    border-left: 1px solid lighten($menuColor, 14%);
    &:first-child {
      border-left: 0 none;
    }

    &.active a {
      &:after {
        content: "";
        position: absolute;
        border-bottom: transparent;
        border-top: 9px solid #f47564;
        border-right: 9px solid transparent;
        border-left: 9px solid transparent;
        bottom: -9px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;
      }
    }
  }

  a {
    text-decoration: none;
    display: flex;
    color: #fff;
    justify-content: center;
    height: 5rem;
    align-items: center;
    position: relative;
    font-size: 1.5rem;
  }
}

// helpers
.gap { margin: $gapSize; }
.gap-top { margin-top: $gapSize; }
.gap-right { margin-right: $gapSize; }
.gap-bottom { margin-bottom: $gapSize; }
.gap-left { margin-left: $gapSize; }
.no-gap { margin: 0; }

// main list filter
.form-grp {
  display: flex;
  align-items: center;
  height: 7rem;
  padding: 0 2rem;
  border-bottom: 1px solid $borderColor;

  &:before {
    @include v-center();
    color: #e0dfdd;
    left: 3rem;
  }

  .form-ctrl {
    flex: 1;
    height: 3.5rem;
    padding: 0 3rem;
    border-radius: 1.5rem;
    border: 1px solid $borderColor;
    outline: 0 none;
    font-family: sans-serif;
    line-height: normal;
  }
}

.badge {
  background: #eee;
  color: #555;
}

.no-results {
  color: darken($borderColor, 20%);
}

.search-for {
  color: $menuColor;
  font-size: 2rem
}

// animations
.animate {
  &.ng-move,
  &.ng-enter,
  &.ng-leave {
    @include transition(all, 0.2s, linear);
    display: block;
    overflow: hidden;
  }

  &.ng-leave.ng-leave-active,
  &.ng-move,
  &.ng-enter {
    opacity: 0;
    height: 0px;
  }

  &.ng-leave,
  &.ng-move.ng-move-active,
  &.ng-enter.ng-enter-active {
    opacity: 1;
    width: 100%;
    height: 40px;
  }
  &.ng-enter-stagger,
  &.ng-leave-stagger,
  &.ng-move-stagger {
    transition-delay:0.02s;
    transition-duration:0;
  }
}

.no-border > * {
  @include border-radius(0);
  border: 0 none;
}

.no-padding {
  padding: 0 !important;
}

.episodes-list {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: flex;
    flex-direction: row;
    color: #f47564;
    background: #fff;
    min-height: 6rem;
    transition: all 0.7s ease;

    &.active {
      .seen {
        &:before {
          content: "\f05d";
        }
      }
      .details {
        opacity: 0.5;
      }
    }
  }

  .seen {
    width: 6rem;
    background: #f47564;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;

    &:before {
      content: "\f10c";
      transition: border 0.7s ease;
    }
  }

  .series {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .details {
    opacity: 1;
    flex: 1;
    display: flex;
    align-items: center;

    .wrap {
      flex: 1;
      margin: 1rem;
    }

    .btn-group {
      margin-top: 1rem;
    }

    h2, p {
      margin: 0;
      cursor: default;
    }

    h2 {
      font-size: 1.7rem;
      margin: 0.8rem 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .release-date {
        font-size: 1.2rem;
      }
    }

    p {
      text-align: justify;
      font-size: 1.4rem;
      color: #868485;
    }
  }
}

.btn-search {
  color: #fff;
  background: #fa8272;
  border-color: #f47564;
}

.btn-add {
  background: $borderColor;
  border-radius: 100%;
  right: 1rem;
  width: 3.5rem;
  height: 3.5rem;
  padding: 0;
  margin: 0 0 0 1rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    margin: 0;
    padding: 0.5rem;
    border-bottom: 1px solid $borderColor;
    &:last-child {
      border: 0 none;
    }
  }

  .category {
    font-size: 80%;
    color: darken($borderColor, 20%);
  }

  .details {
    font-size: 80%;
    span {
      &:after {
        content: "|";
        padding: 0 0.5rem;
        color: $borderColor;
      }
      &:last-child:after {
        content: "";
        padding: 0;
      }
    }
    .seeds {
      color: $seedsColor;
    }
    .peers {
      color: $peersColor;
    }
  }
}

// modal overwrites
.modal {
  display: flex !important;
  flex-direction: column;
  .modal-dialog {
    display: flex;
    flex-direction: column;
  }
  .modal-content {
    display: flex;
    flex-direction: column;
  }
  .modal-header {
    border: 0 none;
    padding-bottom: 0;
  }
  .modal-body {
    flex: 1;
    padding: 1rem;
    overflow: auto;
  }
}