@import "mixins";

@include scrollbars(8px, 4px, #aaa);

.show-tracker {
  @include wrapper(5px);

  .panel-heading {
    .input-group, .label {
      margin-top: 10px;
    }
  }

  .add-show {
    .input-group {
      margin-bottom: 10px;
    }
    .input-group-addon {
      min-width: 100px;
      text-align: left;
    }
  }
  .tags {
    margin-right: 2px;
  }

  .trackers-list {
    label {
      font-weight: normal;
    }
  }
}