<div class="input-group autocomplete">
  <span class="input-group-addon">
    {{ title }}
    <i class="fa fa-{{ icon }}" ng-if="icon"></i>
  </span>
  <input type="text" class="form-control" ng-auto-focus
    ng-model="model" typeahead-loading="loadingMovies"
    typeahead-wait-ms="300"
    placeholder="{{ placeholder }}"
    uib-typeahead="movie.Title as movie for movie in getMovies($viewValue)"
    typeahead-popup-template-url="./app/partials/shows/typeaheadPopup.html"
    typeahead-template-url="./app/partials/shows/typeaheadTemplate.html"
    typeahead-on-select="movieSelected($item)"
    typeahead-no-results="noResults">

  <span class="input-group-addon text-center" ng-show="loadingMovies || noResults">
    <i ng-show="loadingMovies" class="glyphicon glyphicon-refresh"></i>
    <span ng-show="noResults">
      <i class="glyphicon glyphicon-remove"></i>
      {{ noMatches }}
    </span>
  </span>
  <div class="list-group" ng-if="movies.length">
    <a href="" class="list-group-item" ng-repeat="movie in movies">
      <img ng-src="{{ movie.Poster }}" height="50px">
      {{ movie.Year }} - {{ movie.Title }}
    </a>
  </div>
</div>