<div class="panel panel-primary">
  <div class="panel-heading">
    Interface
  </div>
  <div class="panel-body">
    <label>
      <input type="checkbox" ng-model="settings.showTags"></input>
      Display Tags
    </label>
    <div class="input-group">
      <span class="input-group-addon">
        Pick Language
      </span>
      <select class="form-control"
        ng-model="addShow.airsOn"
        ng-options="value as value for value in days">
      </select>
    </div>
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">
    Torrent Trackers
  </div>
  <div class="panel-body trackers-list">
    <!-- trackers list -->
    <h4>Pick a default tracker to use</h4>
    <ul class="list-group">
      <li class="list-group-item animate"
        ng-repeat="tracker in settings.trackers.list track by $index">
        <div class="row">
          <div class="col-xs-8">
            <label>
              <input type="radio" name="tracker"
                ng-model="settings.trackers.selected"
                ng-value="$index">
              {{ tracker.url }}
            </label>
          </div>
          <div class="col-xs-4 text-right">
            <button class="btn btn-xs btn-danger"
              ng-if="settings.trackers.list.length > 1"
              ng-click="deleteTracker($index)">
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </div>
      </li>
    </ul>
    <h4>Add a tracker to the list</h4>
    <ul class="list-group">
      <li class="list-group-item">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-plus"></i>
          </span>
          <input type="url" class="form-control"
            placeholder="Add other tracker url"
            ng-model="trackerName.url"
            ng-enter="addTracker(trackerName.url)">
          <span class="input-group-addon" ng-if="trackerName.url">
            press <code>ENTER</code> to save
          </span>
        </div>
      </li>
    </ul>
    <h4>Restore defaults</h4>
    <div class="alert alert-warning" role="alert">
      <p class="gap-bottom">
        <strong>Warning!</strong>&nbsp;Restoring the defaults will remove all current trackers!
      </p>
      <button class="btn btn-sm btn-danger"
        ng-click="restoreDefaults()">Restore Defaults</button>
    </div>
  </div>
</div>