<div class="panel panel-primary">
  <div class="panel-heading">
    {{ L('settings.panels.general') }}
  </div>
  <div class="panel-body">
    <input class="db-import hide" type="file" accept=".json"
      onchange="angular.element(this).scope().doImport(this)">
    <input class="db-export hide" type="file" nwsaveas="stdb.json"
      onchange="angular.element(this).scope().doExport(this)">

    <ul class="list-group">
      <li class="list-group-item">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="settings.showTags"></input>
            {{ L('settings.labels.showTags') }}
          </label>
        </div>
      </li>
      <li class="list-group-item">
        <div class="input-group">
          <span class="input-group-addon">
            {{ L('settings.labels.pickLanguage') }}
          </span>
          <select class="form-control"
            ng-model="addShow.airsOn"
            ng-options="value as value for value in days">
          </select>
        </div>
      </li>
      <li class="list-group-item">
        <div class="alert alert-warning" role="alert">
          <p class="gap-bottom">
            <strong>{{ L('alerts.warning') }}</strong>&nbsp;
            <span ng-bind-html="L('settings.warnings.general') | unsafe"></span>
          </p>
          <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default" bind-to=".db-export">
                <i class="glyphicon glyphicon-export"></i>
                {{ L('settings.buttons.export') }}
              </button>
            </div>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-danger" bind-to=".db-import">
                <i class="glyphicon glyphicon-import"></i>
                {{ L('settings.buttons.import') }}
              </button>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">
    {{ L('settings.panels.trackers') }}
  </div>
  <div class="panel-body trackers-list">
    <!-- trackers list -->
    <h4>{{ L('settings.titles.trackerList') }}</h4>
    <ul class="list-group">
      <li class="list-group-item animate"
        ng-repeat="tracker in settings.trackers.list track by $index">
        <div class="row">
          <div class="col-xs-8">
            <label>
              <input type="radio" name="tracker"
                ng-model="settings.trackers.selected"
                ng-value="$index">
              {{ tracker.url }}
            </label>
          </div>
          <div class="col-xs-4 text-right">
            <button class="btn btn-xs btn-danger"
              ng-if="settings.trackers.list.length > 1"
              ng-click="deleteTracker($index)">
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </div>
      </li>
    </ul>
    <h4>{{ L('settings.titles.trackerAdd') }}</h4>
    <ul class="list-group">
      <li class="list-group-item">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-plus"></i>
          </span>
          <input type="url" class="form-control"
            placeholder="{{ L('settings.placeholders.trackerAdd') }}"
            ng-model="trackerName.url"
            ng-enter="addTracker(trackerName.url)">
          <span class="input-group-addon" ng-if="trackerName.url"
            ng-bind-html="L('settings.labels.trackerAdd', {
              key: 'ENTER'
            }) | unsafe">
          </span>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">
    {{ L('settings.panels.restore') }}
  </div>
  <div class="panel-body">
    <div class="alert alert-warning" role="alert">
      <p class="gap-bottom">
        <strong>{{ L('alerts.warning') }}</strong>&nbsp;
        <span ng-bind-html="L('settings.warnings.restore') | unsafe"></span>
      </p>
      <div class="btn-group btn-group-justified" role="group">
        <div class="btn-group" role="group">
          <button class="btn btn-sm btn-danger"
            ng-click="restoreDefaults()">
            <i class="fa fa-refresh"></i>
            {{ L('settings.buttons.restore') }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>