@import './reset';
@import './variables';
@import './mixins';

.app-container {
  .flexbox();
  background: @app-bg;

  .main-menu {
    .flex();
    justify-content: flex-start;
    background: @menu-bg;

    button {
      background: none;
      color: @menu-color;
      outline: 0 none;
      border: 0 none;
      cursor: pointer;
      padding: 5px;
      &:hover {
        background: @menu-entry-hover-bg;
        color: @menu-entry-hover-color;
      }
      &[disabled] {
        cursor: default;
        background: @menu-bg;
        color: @menu-entry-disabled-color;
      }
    }
  }
  .content {
    .flexbox-grow();
    padding: @app-padding;
  }
}
