@import './variables';
@import './reset';
@import './mixins';

.app-container {
  .flexbox();
  color: #fff;

  .title-bar {
    .flex();
    justify-content: flex-start;
    background: fade(@menu-bg, 50%);
    height: 2rem;

    button {
      outline: 0 none;
      border: 0 none;
      display: inline-block;
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 1rem;
      margin: 0 0.2rem;
      cursor: pointer;

      &:first-child {
        margin-left: 0.4rem;
      }

      &.close {
        background: #ff5d56;
        border: 1px solid #de4740;
      }
      &.minimize {
        background: #ffbd35;
        border: 1px solid #df9e2a;
      }
      &.fullscreen {
        background: #00cc4b;
        border: 1px solid #00ae39;
      }
    }
  }
  .content {
    .flexbox-grow();
    padding: @app-padding;
  }
}
