@import './mixins';
@import './variables';
@import './reset';

.app-container {
  .flexbox();

  div {
    display: flex;
    flex-direction: column;
  }

  color: #fff;

  .content {
    .flexbox-grow();
    flex-direction: row;
  }

  @import './titleBar';
  @import './searchBar';
  @import './menu';
  @import './shows';
}
