<div class="panel panel-primary">
  <div class="panel-heading">
    {{ L('shows.panels.list') }}
  </div>
  <div class="panel-body">
    <!-- add show fields -->
    <div class="add-show">
      <h4>{{ L('shows.titles.addShow') }}</h4>
      <div class="input-group">
        <span class="input-group-addon">
          {{ L('shows.descriptors.showName') }}
        </span>
        <input type="text" class="form-control" ng-model="showData.name">
      </div>
      <div class="input-group">
        <span class="input-group-addon">
          {{ L('shows.descriptors.airDay') }}
        </span>
        <select class="form-control"
          ng-model="showData.airsOn"
          ng-options="idx*1 as day for (idx, day) in L('weekdays')">
          <!-- idx*1 converts idx to number -->
        </select>
      </div>
      <div class="input-group">
        <label>
          <input type="checkbox" ng-model="showData.onlyEps"></input>
          {{ L('shows.labels.disableSeasons') }}
        </label>
      </div>
      <div class="row">
        <div ng-class="!showData.onlyEps ? 'col-xs-6' : 'hide'">
          <div class="input-group">
            <span class="input-group-addon">
              {{ L('shows.descriptors.season') }}
            </span>
            <input type="text" class="form-control"
              ng-model="showData.season" valid-number>
          </div>
        </div>
        <div ng-class="!showData.onlyEps ? 'col-xs-6' : 'col-xs-12'">
          <div class="input-group">
            <span class="input-group-addon">
              {{ L('shows.descriptors.episode') }}
            </span>
            <input type="text" class="form-control"
              ng-model="showData.episode" valid-number>
          </div>
        </div>
      </div>
      <div class="input-group">
        <span class="input-group-addon">
          {{ L('shows.descriptors.tags') }}
        </span>
        <tags-input ng-model="showData.tags"
          placeholder="{{ L('shows.placeholders.addTags') }}"></tags-input>
      </div>
      <div class="text-right">
        <button class="btn btn-success" ng-click="doSave(showData)">
          {{ L('shows.buttons.save') }}
        </button>
        <button class="btn btn-danger" ng-click="doCancel()">
          {{ L('shows.buttons.cancel') }}
        </button>
      </div>
    </div>
  </div>
</div>