<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-6">TV Show Tracker</div>
      <div class="col-xs-6 text-right">
        <label>
          <input type="checkbox" ng-model="showTags"></input>
          show tags
        </label>
      </div>
    </div>
    <div class="input-group">
      <span class="input-group-addon">
        <i class="fa fa-filter"></i>
      </span>
      <input type="text" class="form-control" placeholder="Filter or add show" ng-model="showData.name">
      <span class="input-group-btn">
        <button class="btn btn-default"
          ng-click="addShow()">Add Show</button>
      </span>
    </div>
    <div ng-if="shows.length">
      <p class="label label-default" ng-if="!pressedKey || pressedKey !== 18">Press and hold <code>ALT</code> to increase the season number</p>
      <p class="label label-danger" ng-if="pressedKey === 18">You can now increase the show season number.</p>
    </div>
  </div>
  <div class="panel-body">
    <div class="alert alert-info" role="alert" ng-if="!shows.length">
      <p class="gap-bottom">
        <strong>Info!</strong>&nbsp;No shows available. Click on the <code>Add Show</code> button next to the filters input above or on the one below to get started.
      </p>
      <button class="btn btn-sm btn-primary"
        ng-click="addShow()">Add Show</button>
    </div>

    <!-- tv show list -->
    <ul class="list-group">
      <li class="list-group-item animate"
        ng-repeat="show in filtered = (shows | filter: showData.name) track by $index">
        <div class="row">
          <div class="col-xs-6">{{ getEpisodeToView(show) }}&nbsp;{{ show.name }}</div>
          <div class="col-xs-3">{{ show.airsOn }}</div>
          <div class="col-xs-3 text-right">
            <button class="btn btn-xs btn-default" ng-click="nextEpisode(show)">
              <i class="fa fa-arrow-up"></i>
            </button>
            <button class="btn btn-xs btn-default" ng-click="prevEpisode(show)">
              <i class="fa fa-arrow-down"></i>
            </button>
            <button class="btn btn-xs btn-success" title="download"
              ng-click="downloadTorrent(show)">
              <i class="fa fa-download"></i>
            </button>
            <button class="btn btn-xs btn-danger"
              ng-click="deleteShow(show, $index)">
              <i class="fa fa-trash"></i>
            </button>
          </div>
          <div class="col-xs-12" ng-if="showTags && show.tags.length">
            <span class="tags label label-primary" ng-repeat="tag in show.tags">{{ tag.text }}</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>